// Nav bar has been eliminated and this code can be done away with

.nav-bar {
    position: absolute;
    top: 1%;
    right: 33%;
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: grey;
}