.drink-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
}
  
  .image-placeholder {
    border: 1px solid #000;
    height: 120px;
    width: 120px;
    margin-right: 50px;
    margin-top: 15px;
    background-color: white;
}
  